body {
  background-color: #F0F2B6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h1 {
  color: #224B0C;
  }
h3 {
  color: #224B0C;
}
